* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    background-image: url("img/5445.jpg");
}*/

body {
    background-color: black;
}

section {
    text-align: center;
    padding: 20px;
}

section a {
    color: white;
    text-align: center;
}